<header class="main-header margin-bottom-20 margin-top-20">
    			<div class="columns is-mobile">
    				<div class="logoHeader column">
    					<a href="http://www.metlife.com" target="_blank" class="logo"><img src="images/metlife-logo.png" alt="Metlife Logo"></a>
    				</div>
    				<div class="column campaign-pages-login is-3">
    					<a ng-href="dologout.jsp" class="campaign-pages-login-link">Logout</a>
    				</div>
    			</div>
    		</header>