<div class="mainform campaign-pages">
    <main-header></main-header>
    <div class="container">
        <div class="columns is-gapless">
            <div class="column is-full">

                <div class="contact-form">
                    <form data-forms="floating-label" class="ml-form" name="applicationHTMLForm">
                        <div class="loader-container" ng-if="loading">
                            <div class="loader">Loading...</div>
                        </div>
                        <div class="applicant-data" ng-show="section === 1">
                            <div class="contact-form-body">
                                <div class="row">
                                    <button class="ml-button-secondary is-pulled-right" ng-if="editing" ng-click="showPersonalInformation($event)">{{showingPersonalInformation?'Hide':'Show'}} Personal Information</button>
                                    <h3 class="contact-form-title">Applicant Data Holder</h3>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ">
                                            <label>
												<input type="text" ng-model="application.firstName" 
                                                       invalid-field="application.firstName" required>
												<span>Name(s)</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ">
                                            <label>
												<input type="text" ng-model="application.lastName" 
                                                       invalid-field="application.lastName" required>
												<span>Paternal Surname</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ">
                                            <label>
												<input type="text" ng-model="application.mlastName" 
                                                       invalid-field="application.mlastName" required>
												<span>Maternal Surname</span>
											</label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <!--<fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
												<input type="text" ng-model="application.birthDate"  
                                                       invalid-field="application.birthDate" placeholder="DD/MM/YYYY">
												<span>Birth Date</span>
											</label>
                                            </fieldset>-->
                                        <div class="ml-form-field ml-form-field-select " ng-show="showingPersonalInformation">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="application.birthDate" close-text="Close" is-open="popup1.opened" ng-click="popup1.opened = true" placeholder="Birth Date" datepicker-options="datePickerOptions" onkeydown="return false" required />
                                                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ml-form-field-select " ng-show="showingPersonalInformation">
                                            <select ng-model="application.gender" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('genders')" required>
                                                    <option disabled selected value="">Gender</option>
                                                </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ml-form-field-select " ng-show="showingPersonalInformation">
                                            <select ng-model="application.maritalStatus" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('maritalStatus')" required>
                                                    <option disabled selected value="">Marital Status</option>
                                                </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.curp" required>
												<span>CURP</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.rfc" required>
												<span>R.F.C.</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.customerIdNumber" required>
												<span>ID / Registration / Nominal Identifier</span>
											</label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ml-form-field-select " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.height" required>
												<span>Height</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field ml-form-field-select " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.weight" required>
												<span>Weight</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.cellPhoneNumber" placeholder="XXX-XXX-XXXX" required>
												<span>Cell Phone Number</span>
											</label>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.occupation" uib-typeahead="occupation as occupation.ocupationName for occupation in getOccupations($viewValue)" typeahead-loading="loadingOccupations" typeahead-no-results="noOccupationsResults" typeahead-editable="false" typeahead-wait-ms="500" required>
												<span>Occupation <i ng-show="loadingOccupations" class="glyphicon glyphicon-refresh"></i>
                                                    <span ng-show="noOccupationsResults">No Results Found</span>
                                                </span>
											</label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text" ng-model="application.email" required>
												<span>E-mail</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <label>
												<input type="text"  ng-model="application.emailConfirm" required>
												<span>Confirm E-mail</span>
											</label>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="ml-form-field " ng-show="showingPersonalInformation">
                                            <div class="ml-form-field-checkboxes-group">
                                                <input id="lorem2" type="checkbox" ng-model="application.withoutEmail">
                                                <label for="lorem2">Without E-mail</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>


                                <div class="row" ng-show="showingPersonalInformation">
                                    <h3 class="contact-form-title">Particular Address</h3>
                                </div>

                                <div id="dv-ml-form-field-toggle2" ng-show="showingPersonalInformation">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ">
                                                <label>
												<input type="text" ng-model="application.streetName" required>
												<span>Street</span>
											</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
												<input type="text" ng-model="application.streetNumberExternal" required>
												<span>Street Number</span>
											</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
												<input type="text" ng-model="application.streetNumberInternal" required>
												<span>Suite Number</span>
											</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
												<input type="text" ng-model="application.zipCode" ng-keyup="updateZipCodeInfo($event)" required>
												<span>Zip Code (MX)</span>
											</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label ng-show="application.zipCode.length !== 5 || selectedNeighborhood === '-- Otra --'">
                                                    <input type="text" ng-model="application.neighborhood">
                                                    <span>Neighborhood</span>
                                                </label>
                                                <select ng-model="selectedNeighborhood" ng-options="item as item for item in neighborhoods" ng-show="application.zipCode.length === 5 && selectedNeighborhood !== '-- Otra --'" ng-change="saveNeighborhood()">
                                                    <option disabled selected value="">Neighborhood</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
                                                    <input type="text" ng-model="application.municipality" required>
                                                    <span>Delegation / Municipality</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
                                                    <input type="text" ng-model="application.city" required>
                                                    <span>City</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <label>
                                                    <input type="text" ng-model="application.state" required>
                                                    <span>State</span>
                                                </label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4">
                                            <fieldset class="ml-form-field ">
                                                <label>
												<input type="text" ng-model="application.homePhoneNumber" placeholder="XXX-XXX-XXXX" required>
												<span>Home Phone Number</span>
											</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div class="nextButtonContainer align-right">
                                    <button class="ml-button-secondary" ng-click="cancelApplication($event)">Cancel</button>
                                    <button class="ml-button-secondary" ng-click="submitForm($event,true)">Save Draft</button>
                                    <button class="ml-button-primary" ng-click="changeSection($event, 2)">Next</button>
                                </div>

                            </div>
                        </div>

                        <div class="plan-data" ng-show="section === 2">
                            <div class="contact-form-body">

                                <h3 class="contact-form-title">Plan Data</h3>

                                <fieldset class="ml-form-field ml-form-field-select ">
                                    <select ng-model="application.plan" ng-options="item as item.planDescription for item in getApplicationFormValues('plans')" required ng-change="changePlan($event)">
                                        <option disabled selected value="">Select Plan</option>
                                    </select>
                                </fieldset>

                                <table class="additional-benefits-table">
                                    <th class="ml-table-col ml-table-col-header"></th>
                                    <th class="ml-table-col ml-table-col-header"><label class="ml-table-col-header-title">Code</label>
                                    </th>
                                    <th class="ml-table-col ml-table-col-header"><label class="ml-table-col-header-title">Plan Data</label>
                                    </th>
                                    <th class="ml-table-col ml-table-col-header"><label class="ml-table-col-header-title">Coverage Data</label>
                                    </th>
                                    <th class="ml-table-col ml-table-col-header"><label class="ml-table-col-header-title">Insurance Amount </label><br>Holder / Complementary
                                    </th>
                                    <th class="ml-table-col ml-table-col-header"><label class="ml-table-col-header-title">Premium</label>
                                    </th>
                                    <tr class="ml-table-col-row" style="background: white;">
                                        <td class="ml-table-col"></td>
                                        <td class="ml-table-col">BAS</td>
                                        <td class="ml-table-col">
                                            <label for="lorem2">Basic Benefit by Death</label>
                                        </td>
                                        <td class="ml-table-col"></td>
                                        <td class="ml-table-col">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <select ng-init="application.basicBenefit = basicBenefitOptions[0]" ng-model="application.basicBenefit" ng-options="item as item for item in basicBenefitOptions"></select>
                                            </fieldset>
                                        </td>
                                        <td class="ml-table-col premium-col">{{calculateBasicPremium(application.basicBenefit)}}</td>
                                    </tr>
                                    <tr class="ml-table-col ml-table-col-header-title">
                                        <td colspan="6" class="ml-table-col additional-benefits">
                                            Additional Benefits
                                            <button class="ml-button-primary" ng-click="openAdditionalBenefitModal($event)">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="benefit in application.additionalBenefitsJsonKv" class="ml-table-col-row repeated-item table-row" ng-class="{'white-row':$even}">
                                        <td class="ml-table-col"><input type="checkbox" ng-model="benefit.checked" /></td>
                                        <td class="ml-table-col">{{benefit.benefitCode}}</td>
                                        <td class="ml-table-col">{{benefit.benefitName}}</td>
                                        <td class="ml-table-col">{{benefit.benefitDescription}}</td>
                                        <td class="ml-table-col">
                                            <div ng-switch="benefit.benefitType">
                                                <div ng-switch-when="Radio">
                                                    <div class="radio" ng-repeat="value in makeJSON(benefit.benefitValue) track by $index">
                                                        <label>
                                                            <input type="radio" ng-model="benefit.benefitAmmount" 
                                                                   name="{{benefit.additionalBenefitId}}" ng-value="value">
                                                            {{value}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="List">
                                                    <fieldset class="ml-form-field ml-form-field-select column">
                                                        <select ng-model="benefit.benefitAmmount" ng-options="item as item for item in makeJSON(benefit.benefitValue)">
                                                            <option disabled selected value="">-- Select option --</option>
                                                        </select>
                                                    </fieldset>
                                                </div>
                                                <div ng-switch-default>
                                                    <fieldset class="ml-form-field column">
                                                        <input type="text" ng-model="benefit.benefitAmmount">
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="ml-table-col premium-col">{{calculatePremium(benefit)}}
                                        </td>
                                    </tr>
                                    <tr class="ml-table-col ml-table-col-header-title premium-total">
                                        <td colspan="5" class="ml-table-col">Total</td>
                                        <td class="ml-table-col premium-col">{{calculateTotalPremium()}}</td>
                                    </tr>

                                </table>

                                <div class="nextButtonContainer align-right">
                                    <button class="ml-button-secondary" ng-click="submitForm($event,true)">Save Draft</button>
                                    <button class="ml-button-secondary" ng-click="changeSection($event, 1)">Back</button>
                                    <button class="ml-button-primary" ng-click="changeSection($event, 3)">Next</button>
                                </div>

                            </div>
                        </div>


                        <div class="payment-type" ng-show="section === 3">
                            <div class="contact-form">
                                <div class="contact-form-body">

                                    <h3 class="contact-form-title">Basic Information for Payment Type</h3>

                                    <div class="payment-methods repeated-item" ng-repeat="payment in paymentDeductions">
                                        <button class="remove-payment ml-button-primary" ng-click="removePaymentDeduction($event, $index)" title="Remove Payment Deduction"><span class="glyphicon glyphicon-remove"></span></button>

                                        <div class="row">
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Descuento por nomina'">
                                                <fieldset class="ml-form-field ml-form-field-select ">
                                                    <select ng-model="payment.federativeEntity" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('states')">
                                                    <option disabled selected value="">Federative Entity</option>
                                                </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Descuento por nomina'">
                                                <fieldset class="ml-form-field ">
                                                    <label>
                                                        <input type="text" ng-model="payment.employer" uib-typeahead="employer as employer.employerName for employer in getEmployers($viewValue)" typeahead-loading="loadingEmployers" typeahead-no-results="noEmployersResults" typeahead-editable="false" typeahead-wait-ms="500">
                                                        <span>Retainer <i ng-show="loadingEmployers" class="glyphicon glyphicon-refresh"></i>
                                                            <span ng-show="noEmployersResults">No Results Found</span>
                                                        </span>
											         </label>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Descuento por nomina'">
                                                <fieldset class="ml-form-field ">
                                                    <label>
												<input type="text"  ng-model="payment.paymentUnit">
												<span>Payment Unit</span>
											</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Descuento por nomina'">
                                                <fieldset class="ml-form-field ">
                                                    <label>
												<input type="text"  ng-model="payment.paymentConcept">
												<span>Concept</span>
											</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4">
                                                <fieldset class="ml-form-field ml-form-field-select " ng-show="payment.paymentType === 'Descuento por nomina'">
                                                    <select ng-model="payment.paymentPeriod" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('paymentFrequency')">
                                                    <option disabled selected value="">Payment Period</option>
                                                </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Descuento por nomina'">
                                                <fieldset class="ml-form-field ml-form-field-select ">
                                                    <select ng-model="payment.paymentMethod" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('paymentMethod')">
                                                    <option disabled selected value="">Payment Method</option>
                                                </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Descuento por nomina'">
                                                <fieldset class="ml-form-field ml-form-field-select ">
                                                    <select ng-model="payment.laborRegime" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('laborRegimens')">
                                                    <option disabled selected value="">Labor Regime</option>
                                                </select>
                                                </fieldset>


                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Cobranza Bancaria'">
                                                <fieldset class="ml-form-field ">
                                                    <label>
												<input type="text" ng-model="payment.clabeAccountToken">
												<span>CLABE Account / Token</span>
											</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Cobranza Bancaria'">
                                                <fieldset class="ml-form-field ml-form-field-select ">
                                                    <label>
												<input type="text" ng-model="payment.clabeConfirmation">
												<span>Confirmation</span>
											</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Cobranza Bancaria'">
                                                <fieldset class="ml-form-field ml-form-field-select ">
                                                    <select ng-model="payment.bank" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('banks')">
                                                    <option disabled selected value="">Bank</option>
                                                </select>
                                                </fieldset>

                                            </div>
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Cobranza Bancaria'">
                                                <fieldset class="ml-form-field ml-form-field-select ">
                                                    <select ng-model="payment.priority" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('priorities')">
                                                    <option disabled selected value="">Select Priority</option>
                                                </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-4" ng-show="payment.paymentType === 'Cobranza Bancaria'">
                                                <fieldset class="ml-form-field ">
                                                    <label>
												<input type="text"  ng-model="payment.paymentProposal">
												<span>Payment Proposal (in days)</span>
											</label>
                                                </fieldset>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset class="ml-form-field ml-form-field-select ">
                                                <select ng-model="paymentType" ng-options="item.catalogueName as item.catalogueName for item in getApplicationFormValues('paymentDeductions')" invalid-field="paymentType">
                                                    <option disabled selected value="">Payment Deductions</option>
                                                </select>
                                            </fieldset>
                                            <button class="ml-button-primary" ng-click="addPaymentDeduction($event)">Add</button>
                                        </div>
                                    </div>

                                    <div class="nextButtonContainer align-right">
                                        <button class="ml-button-secondary" ng-click="submitForm($event,true)">Save Draft</button>
                                        <button class="ml-button-secondary" ng-click="changeSection($event, 2)">Back</button>
                                        <button class="ml-button-primary" ng-click="changeSection($event, 4)">Summary</button>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="summary" ng-show="section === 4">
                            <div class="contact-form">
                                <div class="contact-form-body">

                                    <main-pdf application="application" payment-deductions="paymentDeductions" calculate-total-premium="calculateTotalPremium" calculate-basic-premium="calculateBasicPremium"></main-pdf>

                                    <div class="contact-form-details">
                                        <p>By clicking Submit, you agree that we* may contact you at the number you've provided, possibly using automated technology or a prerecorded voice, to talk about our products and services. If you don't want to give this permission, you can still get a quote or make a purchase by calling us directly at 1-800-638-5433</p>
                                        <p>*<a href="">A MetLife company</a> or third party acting on MetLife's behalf.</p>
                                    </div>

                                    <div class="nextButtonContainer align-right">
                                        <button class="ml-button-secondary" ng-click="submitForm($event,true)">Save Draft</button>
                                        <button class="ml-button-secondary" ng-click="changeSection($event, 3)">Back</button>
                                        <button class="ml-button-primary" ng-click="submitForm($event)">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <main-footer></main-footer>
    </div>
</div>
