body {
    padding: 0;
}

/* Main Header */

.logoHeader {
    margin-left: 42%;
}

/* Login */

.loginBody {
    margin-top: 10% !important;
}

.welcome {
    color: #007abc;
    font-size: 36px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    font-weight: bold;
}

.loginContainer {
    background-color: #ffffff !important;
}

.loginMessage {
    color: #2aabd2;
    font-size: 18px;
    padding: 25px 0 15px 0;
}

.loginButton {
    text-align: center;
    margin-top: 35px;
}

/* Main intro */

.main-intro {
    background-color: #F7F7F7;
    background-image: url(../images/metlife-campaignhero.png);
    background-repeat: no-repeat;
}

.main-intro > div {
    float: right;
}

.main-intro > div .contact-form {
    padding: 30px;
    margin: 10px;
    background: rgba(247, 247, 247, 0.85);
}

.newQuote {
    margin-bottom: 30px;
}

.getquoteSubtitle {
    color: #5E5E5E;
    font-size: 13px;
}

.getquoteTitle {
    color: #0061A0;
    font-size: 26px;
    margin: 15px 0 15px 0;
    font-weight: bold;
}

.searchArea {
    background-color: #f7f7f7 !important;
    margin: 20px -15px 30px;
}

.searchBar {
    margin: 25px 0;
}

.customInput {
    border-radius: 3px !important;
}

.searchTable {
    display: table !important;
    background-color: #f7f7f7 !important;
    margin-bottom: 20px;
}

.searchTableHeader {
    background-color: #0061A0 !important;
    color: white !important;
    text-align: left !important;
    font-size: 16px !important;
}

.searchTableCol {
    border-right: solid 1px #ffffff !important;
    padding: 3px !important;
}

.searchTableTitle {
    font-size: 14px !important;
    color: white !important;
    margin: 0px 5px !important;
}

/* Form */

.contact-form-title {
    color: #0090DA !important;
    font-size: 22px !important;
    font-weight: bold;
    margin-bottom: 30px;
}

.nextButtonContainer {
    margin-right: 26px;
}

.nextButton {
    border: solid 2px #007abc !important;
    width: 12% !important;
}

.prevButton {
    width: 12% !important;
    margin-right: 10px;
}

/* footer */

.footerContainer {
    position: relative;
    padding: 12px 10px 20px 10px;
    display: inline-block;
}

.footerText {
    text-align: left;
    font-size: 11px;
    display: inline-block;
}

.footerLinks,
.footerCopyright {
    float: left;
    margin-left: 32px;
}


@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.is-block {
    display: block;
}

@media screen and (max-width: 768px) {
    .is-block-mobile {
        display: block !important;
    }
}

@media screen and (min-width: 769px) {
    .is-block-tablet {
        display: block !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .is-block-tablet-only {
        display: block !important;
    }
}

@media screen and (max-width: 999px) {
    .is-block-touch {
        display: block !important;
    }
}

@media screen and (min-width: 1000px) {
    .is-block-desktop {
        display: block !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1191px) {
    .is-block-desktop-only {
        display: block !important;
    }
}

@media screen and (min-width: 1192px) {
    .is-block-widescreen {
        display: block !important;
    }
}

.is-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 768px) {
    .is-flex-mobile {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (min-width: 769px) {
    .is-flex-tablet {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .is-flex-tablet-only {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (max-width: 999px) {
    .is-flex-touch {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (min-width: 1000px) {
    .is-flex-desktop {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1191px) {
    .is-flex-desktop-only {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media screen and (min-width: 1192px) {
    .is-flex-widescreen {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.is-inline {
    display: inline;
}

@media screen and (max-width: 768px) {
    .is-inline-mobile {
        display: inline !important;
    }
}

@media screen and (min-width: 769px) {
    .is-inline-tablet {
        display: inline !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .is-inline-tablet-only {
        display: inline !important;
    }
}

@media screen and (max-width: 999px) {
    .is-inline-touch {
        display: inline !important;
    }
}

@media screen and (min-width: 1000px) {
    .is-inline-desktop {
        display: inline !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1191px) {
    .is-inline-desktop-only {
        display: inline !important;
    }
}

@media screen and (min-width: 1192px) {
    .is-inline-widescreen {
        display: inline !important;
    }
}

.is-inline-block {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .is-inline-block-mobile {
        display: inline-block !important;
    }
}

@media screen and (min-width: 769px) {
    .is-inline-block-tablet {
        display: inline-block !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .is-inline-block-tablet-only {
        display: inline-block !important;
    }
}

@media screen and (max-width: 999px) {
    .is-inline-block-touch {
        display: inline-block !important;
    }
}

@media screen and (min-width: 1000px) {
    .is-inline-block-desktop {
        display: inline-block !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1191px) {
    .is-inline-block-desktop-only {
        display: inline-block !important;
    }
}

@media screen and (min-width: 1192px) {
    .is-inline-block-widescreen {
        display: inline-block !important;
    }
}

.is-inline-flex {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    .is-inline-flex-mobile {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media screen and (min-width: 769px) {
    .is-inline-flex-tablet {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .is-inline-flex-tablet-only {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media screen and (max-width: 999px) {
    .is-inline-flex-touch {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media screen and (min-width: 1000px) {
    .is-inline-flex-desktop {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1191px) {
    .is-inline-flex-desktop-only {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media screen and (min-width: 1192px) {
    .is-inline-flex-widescreen {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

.is-clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

.is-pulled-left {
    float: left;
}

.is-pulled-right {
    float: right;
}

.is-clipped {
    overflow: hidden !important;
}

.is-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.has-text-centered {
    text-align: center;
}

.has-text-left {
    text-align: left;
}

.has-text-right {
    text-align: right;
}

.is-hidden {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .is-hidden-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .is-hidden-tablet {
        display: none !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .is-hidden-tablet-only {
        display: none !important;
    }
}

@media screen and (max-width: 999px) {
    .is-hidden-touch {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .is-hidden-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1191px) {
    .is-hidden-desktop-only {
        display: none !important;
    }
}

@media screen and (min-width: 1192px) {
    .is-hidden-widescreen {
        display: none !important;
    }
}

.is-disabled {
    pointer-events: none;
}

.is-marginless {
    margin: 0 !important;
}

.is-paddingless {
    padding: 0 !important;
}

.is-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.column {
    display: block;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.columns.is-mobile > .column.is-narrow {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.columns.is-mobile > .column.is-full {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%;
}

.columns.is-mobile > .column.is-three-quarters {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 75%;
}

.columns.is-mobile > .column.is-two-thirds {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 66.6666%;
}

.columns.is-mobile > .column.is-half {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 50%;
}

.columns.is-mobile > .column.is-one-third {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 33.3333%;
}

.columns.is-mobile > .column.is-one-quarter {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 25%;
}

.columns.is-mobile > .column.is-offset-three-quarters {
    margin-left: 75%;
}

.columns.is-mobile > .column.is-offset-two-thirds {
    margin-left: 66.6666%;
}

.columns.is-mobile > .column.is-offset-half {
    margin-left: 50%;
}

.columns.is-mobile > .column.is-offset-one-third {
    margin-left: 33.3333%;
}

.columns.is-mobile > .column.is-offset-one-quarter {
    margin-left: 25%;
}

.columns.is-mobile > .column.is-1 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 8.33333%;
}

.columns.is-mobile > .column.is-offset-1 {
    margin-left: 8.33333%;
}

.columns.is-mobile > .column.is-2 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 16.66667%;
}

.columns.is-mobile > .column.is-offset-2 {
    margin-left: 16.66667%;
}

.columns.is-mobile > .column.is-3 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 25%;
}

.columns.is-mobile > .column.is-offset-3 {
    margin-left: 25%;
}

.columns.is-mobile > .column.is-4 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 33.33333%;
}

.columns.is-mobile > .column.is-offset-4 {
    margin-left: 33.33333%;
}

.columns.is-mobile > .column.is-5 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 41.66667%;
}

.columns.is-mobile > .column.is-offset-5 {
    margin-left: 41.66667%;
}

.columns.is-mobile > .column.is-6 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 50%;
}

.columns.is-mobile > .column.is-offset-6 {
    margin-left: 50%;
}

.columns.is-mobile > .column.is-7 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 58.33333%;
}

.columns.is-mobile > .column.is-offset-7 {
    margin-left: 58.33333%;
}

.columns.is-mobile > .column.is-8 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 66.66667%;
}

.columns.is-mobile > .column.is-offset-8 {
    margin-left: 66.66667%;
}

.columns.is-mobile > .column.is-9 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 75%;
}

.columns.is-mobile > .column.is-offset-9 {
    margin-left: 75%;
}

.columns.is-mobile > .column.is-10 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 83.33333%;
}

.columns.is-mobile > .column.is-offset-10 {
    margin-left: 83.33333%;
}

.columns.is-mobile > .column.is-11 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 91.66667%;
}

.columns.is-mobile > .column.is-offset-11 {
    margin-left: 91.66667%;
}

.columns.is-mobile > .column.is-12 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%;
}

.columns.is-mobile > .column.is-offset-12 {
    margin-left: 100%;
}

@media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
    .column.is-full-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-one-third-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-three-quarters-mobile {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-mobile {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-mobile {
        margin-left: 50%;
    }
    .column.is-offset-one-third-mobile {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-mobile {
        margin-left: 25%;
    }
    .column.is-1-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-mobile {
        margin-left: 8.33333%;
    }
    .column.is-2-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-mobile {
        margin-left: 16.66667%;
    }
    .column.is-3-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-mobile {
        margin-left: 25%;
    }
    .column.is-4-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-mobile {
        margin-left: 33.33333%;
    }
    .column.is-5-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-mobile {
        margin-left: 41.66667%;
    }
    .column.is-6-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-mobile {
        margin-left: 50%;
    }
    .column.is-7-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-mobile {
        margin-left: 58.33333%;
    }
    .column.is-8-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-mobile {
        margin-left: 66.66667%;
    }
    .column.is-9-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-mobile {
        margin-left: 75%;
    }
    .column.is-10-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-mobile {
        margin-left: 83.33333%;
    }
    .column.is-11-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-mobile {
        margin-left: 91.66667%;
    }
    .column.is-12-mobile {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-mobile {
        margin-left: 100%;
    }
}

@media screen and (min-width: 769px) {
    .column.is-narrow,
    .column.is-narrow-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
    .column.is-full,
    .column.is-full-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters,
    .column.is-three-quarters-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds,
    .column.is-two-thirds-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.6666%;
    }
    .column.is-half,
    .column.is-half-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-one-third,
    .column.is-one-third-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter,
    .column.is-one-quarter-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-three-quarters,
    .column.is-offset-three-quarters-tablet {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds,
    .column.is-offset-two-thirds-tablet {
        margin-left: 66.6666%;
    }
    .column.is-offset-half,
    .column.is-offset-half-tablet {
        margin-left: 50%;
    }
    .column.is-offset-one-third,
    .column.is-offset-one-third-tablet {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter,
    .column.is-offset-one-quarter-tablet {
        margin-left: 25%;
    }
    .column.is-1,
    .column.is-1-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1,
    .column.is-offset-1-tablet {
        margin-left: 8.33333%;
    }
    .column.is-2,
    .column.is-2-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2,
    .column.is-offset-2-tablet {
        margin-left: 16.66667%;
    }
    .column.is-3,
    .column.is-3-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-3,
    .column.is-offset-3-tablet {
        margin-left: 25%;
    }
    .column.is-4,
    .column.is-4-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4,
    .column.is-offset-4-tablet {
        margin-left: 33.33333%;
    }
    .column.is-5,
    .column.is-5-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5,
    .column.is-offset-5-tablet {
        margin-left: 41.66667%;
    }
    .column.is-6,
    .column.is-6-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-offset-6,
    .column.is-offset-6-tablet {
        margin-left: 50%;
    }
    .column.is-7,
    .column.is-7-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7,
    .column.is-offset-7-tablet {
        margin-left: 58.33333%;
    }
    .column.is-8,
    .column.is-8-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8,
    .column.is-offset-8-tablet {
        margin-left: 66.66667%;
    }
    .column.is-9,
    .column.is-9-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-offset-9,
    .column.is-offset-9-tablet {
        margin-left: 75%;
    }
    .column.is-10,
    .column.is-10-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10,
    .column.is-offset-10-tablet {
        margin-left: 83.33333%;
    }
    .column.is-11,
    .column.is-11-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11,
    .column.is-offset-11-tablet {
        margin-left: 91.66667%;
    }
    .column.is-12,
    .column.is-12-tablet {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-offset-12,
    .column.is-offset-12-tablet {
        margin-left: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .column.is-narrow-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
    .column.is-full-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-one-third-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-three-quarters-desktop {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-desktop {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-desktop {
        margin-left: 50%;
    }
    .column.is-offset-one-third-desktop {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-desktop {
        margin-left: 25%;
    }
    .column.is-1-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-desktop {
        margin-left: 8.33333%;
    }
    .column.is-2-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-desktop {
        margin-left: 16.66667%;
    }
    .column.is-3-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-desktop {
        margin-left: 25%;
    }
    .column.is-4-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-desktop {
        margin-left: 33.33333%;
    }
    .column.is-5-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-desktop {
        margin-left: 41.66667%;
    }
    .column.is-6-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-desktop {
        margin-left: 50%;
    }
    .column.is-7-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-desktop {
        margin-left: 58.33333%;
    }
    .column.is-8-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-desktop {
        margin-left: 66.66667%;
    }
    .column.is-9-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-desktop {
        margin-left: 75%;
    }
    .column.is-10-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-desktop {
        margin-left: 83.33333%;
    }
    .column.is-11-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-desktop {
        margin-left: 91.66667%;
    }
    .column.is-12-desktop {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-desktop {
        margin-left: 100%;
    }
}

@media screen and (min-width: 1192px) {
    .column.is-narrow-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
    .column.is-full-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-one-third-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-three-quarters-widescreen {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-widescreen {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-widescreen {
        margin-left: 50%;
    }
    .column.is-offset-one-third-widescreen {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-widescreen {
        margin-left: 25%;
    }
    .column.is-1-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-widescreen {
        margin-left: 8.33333%;
    }
    .column.is-2-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-widescreen {
        margin-left: 16.66667%;
    }
    .column.is-3-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-widescreen {
        margin-left: 25%;
    }
    .column.is-4-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-widescreen {
        margin-left: 33.33333%;
    }
    .column.is-5-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-widescreen {
        margin-left: 41.66667%;
    }
    .column.is-6-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-widescreen {
        margin-left: 50%;
    }
    .column.is-7-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-widescreen {
        margin-left: 58.33333%;
    }
    .column.is-8-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-widescreen {
        margin-left: 66.66667%;
    }
    .column.is-9-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-widescreen {
        margin-left: 75%;
    }
    .column.is-10-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-widescreen {
        margin-left: 83.33333%;
    }
    .column.is-11-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-widescreen {
        margin-left: 91.66667%;
    }
    .column.is-12-widescreen {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-widescreen {
        margin-left: 100%;
    }
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns:last-child {
    margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
    margin-bottom: 0.75rem;
}

.columns.is-centered {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.columns.is-gapless:last-child {
    margin-bottom: 0;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 1.5rem;
}

.columns.is-gapless > .column {
    margin: 0;
    padding: 0;
}

.login .columns.is-gapless > .column {
    margin: 0 auto;
}

@media screen and (min-width: 769px) {
    .columns.is-grid {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .columns.is-grid > .column {
        max-width: 33.3333%;
        padding: 0.75rem;
        width: 33.3333%;
    }
    .columns.is-grid > .column + .column {
        margin-left: 0;
    }
}

.columns.is-mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.columns.is-multiline {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.columns.is-vcentered {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 769px) {
    .columns:not(.is-desktop) {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .columns.is-desktop {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.tile {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: block;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.tile.is-ancestor {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.tile.is-ancestor:last-child {
    margin-bottom: -0.75rem;
}

.tile.is-ancestor:not(:last-child) {
    margin-bottom: 0.75rem;
}

.tile.is-child {
    margin: 0 !important;
}

.tile.is-parent {
    padding: 0.75rem;
}

.tile.is-vertical {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tile.is-vertical > .tile.is-child:not(:last-child) {
    margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 769px) {
    .tile:not(.is-child) {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .tile.is-1 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 8.33333%;
    }
    .tile.is-2 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 16.66667%;
    }
    .tile.is-3 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 25%;
    }
    .tile.is-4 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 33.33333%;
    }
    .tile.is-5 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 41.66667%;
    }
    .tile.is-6 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
    .tile.is-7 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 58.33333%;
    }
    .tile.is-8 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 66.66667%;
    }
    .tile.is-9 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 75%;
    }
    .tile.is-10 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 83.33333%;
    }
    .tile.is-11 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 91.66667%;
    }
    .tile.is-12 {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus {
    outline-color: #333;
}

/*This will eventually have helper classess for margin and padding*/

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.header-xxlarge,
.header-xlarge,
.header-large,
.header-medium,
.header-small,
.header-xsmall {
    font-family: "Georgia", serif;
    line-height: 1.25em;
    color: #000000;
    margin: 36px 0 24px 0;
    font-weight: 700;
}

.header-xxlarge {
    font-size: 4rem;
}

.header-xlarge {
    font-size: 3.07692rem;
}

.header-large {
    font-size: 2.66667rem;
}

.header-medium {
    font-size: 2.35294rem;
}

.header-small {
    font-size: 2rem;
}

.header-xsmall {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.ml-button-primary,
.ml-button-primary-dark,
.ml-button-secondary,
.ml-button-secondary-dark {
    box-sizing: content-box;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    padding: 12px 14px;
    border: 0;
    display: inline-block;
}

.ml-button-primary:hover,
.ml-button-primary-dark:hover,
.ml-button-secondary:hover,
.ml-button-secondary-dark:hover,
.ml-button-primary:focus,
.ml-button-primary-dark:focus,
.ml-button-secondary:focus,
.ml-button-secondary-dark:focus,
.hover.ml-button-primary,
.hover.ml-button-primary-dark,
.hover.ml-button-secondary,
.hover.ml-button-secondary-dark {
    text-decoration: underline;
}

.ml-button-primary:focus,
.ml-button-primary-dark:focus,
.ml-button-secondary:focus,
.ml-button-secondary-dark:focus,
.focus.ml-button-primary,
.focus.ml-button-primary-dark,
.focus.ml-button-secondary,
.focus.ml-button-secondary-dark {
    outline-color: #333;
    text-decoration: underline;
}

.focus.ml-button-primary,
.focus.ml-button-primary-dark,
.focus.ml-button-secondary,
.focus.ml-button-secondary-dark {
    box-shadow: 0 0 3px #333, 0 0 7px #333;
}

.ml-link,
.ml-link-dark {
    text-decoration: underline;
    color: #007abc;
    font-weight: bold;
    display: inline-block;
}

.ml-link:hover,
.ml-link-dark:hover,
.ml-link:focus,
.ml-link-dark:focus,
.hover.ml-link,
.hover.ml-link-dark {
    text-decoration: none;
}

.ml-link:focus,
.ml-link-dark:focus {
    outline-color: #333;
    text-decoration: none;
}

.focus.ml-link,
.focus.ml-link-dark {
    box-shadow: 0 0 4px #333, 0 0 10px #333;
}

.ml-button-primary {
    background-color: #007abc;
    color: #fff;
    border: solid 2px #007abc;
}

.ml-button-primary:hover,
.ml-button-primary:focus,
.ml-button-primary.hover,
.ml-button-primary.focus {
    background-color: #0061a0;
}

.ml-button-primary-dark {
    color: #000;
    background-color: #a4ce4e;
}

.ml-button-primary-dark:hover,
.ml-button-primary-dark:focus,
.ml-button-primary-dark.hover {
    background-color: #B7DD58;
}

.ml-button-primary-dark.focus {
    background-color: #B7DD58;
}

.ml-button-secondary {
    background-color: #fff;
    color: #007abc;
    border: solid 2px #007abc;
}

.ml-button-secondary:focus,
.ml-button-secondary:hover,
.ml-button-secondary.hover,
.ml-button-secondary.focus {
    background-color: #007abc;
    color: #fff;
}

.ml-button-secondary-dark {
    border: solid 2px #fff;
    color: #fff;
}

.ml-button-secondary-dark:focus,
.ml-button-secondary-dark:hover,
.ml-button-secondary-dark.hover,
.ml-button-secondary-dark.focus {
    background-color: #fff;
    color: #007abc;
}

.ml-link-dark {
    color: #fff;
}

.ml-table {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
    border: solid 1px #9B9B9B;
}

.ml-table-col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.plan-data .ml-table-col:not(.ml-table-col-header):not(.premium-col){
    text-align: left;
}

.ml-table-col .ml-form-field {
    margin-bottom: 0;
}

.ml-table-col-header {
    padding: 20px;
    text-align: center;
    background: #D1D1D1;
}

.ml-table-col-header-title {
    font-size: 20px;
    color: #007abc;
    line-height: 26px;
}

.ml-table-col-header-callout {
    font-size: 26px;
}

.ml-table-col-row {
    padding: 20px;
    text-align: center;
}

.ml-table-col:last-child {
    border-right: 0;
}

.ml-table-col.premium-col {
    text-align: right;
}

.white-row {
    background-color: white;
}

.table-row:hover{
    background-color: #EFEFFF;
}

.premium-total {
    background: #a4ce4e;
    color: white;
    text-shadow: 0 0 3px #444;
}

.ml-table-footer {
    padding: 20px;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-device-width: 959px) {
    .ml-table {
        display: block;
    }
}

/* Forms*/

.ml-form {
    padding: 20px;
    position: relative;
}

.ml-form-field {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    position: relative;
    border: 0px;
    padding: 0;
}

.ml-form-field legend {
    font-weight: bold;
    margin-bottom: 5px;
}

.ml-form-field legend,
.ml-form-field label {
    font-size: 13px;
    color: #333333;
}

.ml-form-field label {
    position: relative;
    display: block;
    text-align: left;
}

.ml-form-field label span {
    display: inline;
    padding: 2px;
}

.ml-form-field select,
.ml-form-field input {
    padding: 10px;
    font: inherit;
    outline: none;
    border: 1px solid #BBBBBB;
    font-size: 13px;
    color: #333333;
    width: 100%;
    font-weight: bold;
}

.ml-form-field select:focus,
.ml-form-field input:focus {
    border: solid 1px #007abc;
    box-shadow: 1px 0 4px #999;
}

.ml-form-field input:not(.form-control):focus ~ span {
    color: #666666;
}

.ml-form-field span {
    background: #fff;
    color: #333;
}

.ml-form-field-togglevisible {
    width: 18px;
    height: 13px;
    background: url(../images/ml-toggle-visibility-show.png) no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    right: 15px;
    top: 12px;
}

.ml-form-field-togglevisible.hidden {
    background: url(../images/ml-toggle-visibility-hide.png) no-repeat;
    background-size: 100%;
}

.ml-form-field-errortext {
    display: none;
    font-size: 12px;
    color: #DB1818;
    margin-top: 5px;
}

.ml-form-field-helptext {
    font-size: 13px;
    color: #333333;
    margin-top: 5px;
}

.ml-form-field-helptext a {
    color: #007abc;
    font-size: 13px;
}

.ml-form-field-helptext .tooltip {
    background-color: #F2F2F2;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    display: none;
    margin-top: 10px;
}

.ml-form-field-helptext.open .tooltip {
    display: block;
}

.ml-form-field.error input,
.ml-form-field.error select {
    border: solid 1px #DB1818;
    background-color: #FDE8E8;
}

.ml-form-field.error input:focus,
.ml-form-field.error select:focus {
    background-color: #fff;
}

.ml-form-field.error input:not(.form-control):focus ~ span,
.ml-form-field.error select:not(.form-control):focus ~ span {
    background-color: #fff;
    color: #DB1818;
}

.ml-form-field.error span {
    background-color: #FDE8E8;
    color: #DB1818;
}

.ml-form-field.error .ml-form-field-errortext {
    display: block;
}

.ml-form-field-checkboxes-group {
    width: auto;
    height: 18px;
    position: relative;
    margin: 20px auto;
    border-radius: 2px;
}

.ml-form-field-checkboxes-group input {
    position: absolute;
}

.ml-form-field-checkboxes-group label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90%;
    height: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0 0 25px;
}

.ml-form-field-checkboxes-group label:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: -3px;
    left: 2px;
    border: solid 2px #BBBBBB;
}

.ml-form-field-checkboxes-group label:after {
    content: '';
    width: 9px;
    height: 4px;
    position: absolute;
    top: 2px;
    left: 6px;
    border-left: 2px solid #007abc;
    border-bottom: 2px solid #007abc;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ml-form-field-checkboxes-group input[type=checkbox] {
    opacity: 0;
}

.ml-form-field-checkboxes-group input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.ml-form-field-checkboxes-group input[type=checkbox]:focus + label:before,
.ml-form-field-checkboxes-group input[type=checkbox]:checked + label:before {
    border-color: #007abc;
}

.ml-form-field-radio-group {
    width: auto;
    height: 18px;
    position: relative;
    margin: 20px auto;
    transition: all 250ms;
}

.ml-form-field-radio-group input {
    position: absolute;
    z-index: 5;
}

.ml-form-field-radio-group label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90%;
    height: 16px;
    cursor: pointer;
    position: absolute;
    padding: 0px 0 0 25px;
}

.ml-form-field-radio-group label:before {
    content: '';
    width: 19px;
    height: 19px;
    position: absolute;
    top: -3px;
    left: 2px;
    border: solid 1px #BBBBBB;
    border-radius: 50%;
}

.ml-form-field-radio-group label:after {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 8px;
    background-color: #007abc;
    border: solid 1px #007abc;
    border-radius: 50%;
    opacity: 0;
}

.ml-form-field-radio-group input[type=radio] {
    opacity: 0;
}

.ml-form-field-radio-group input[type=radio]:checked + label:after {
    opacity: 1;
}

.ml-form-field-radio-group input[type=radio]:focus + label:before,
.ml-form-field-radio-group input[type=radio]:checked + label:before {
    border: solid 1px #007abc;
}

.ml-form-field-droplist-trigger {
    position: relative;
    border: solid 1px #BBBBBB;
    width: 100%;
    color: #333333;
    text-align: left;
    font-size: 13px;
    background-color: #fff;
    padding: 10px;
}

.ml-form-field-droplist-trigger:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #AAA9AA transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.ml-form-field-droplist-trigger:focus {
    border: solid 1px #007abc;
    outline: 0;
}

.ml-form-field-droplist-trigger:focus:after {
    border-color: #007abc transparent transparent transparent;
}

.ml-form-field-droplist-trigger.active {
    border: solid 1px #007abc;
    border-bottom: 0;
}

.ml-form-field-droplist-trigger.active:after {
    border-color: #007abc transparent transparent transparent;
}

.ml-form-field-droplist-fields {
    display: none;
}

.ml-form-field-droplist-fields.active {
    display: block;
    border: solid 1px #007abc;
    border-top: 0;
    padding: 10px;
}

.ml-form-field-select .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
    font-size: 13px;
}

.ml-form-field-select .select-hidden:focus {
    border: solid 1px red;
}

.ml-form-field-select .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 13px;
    border: 1px solid #BBBBBB;
    color: #333333;
    width: 100%;
    height: 40px;
}

.ml-form-field-select .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 20px;
    font-size: 13px;
    background-color: #fff;
    padding: 10px;
}

.ml-form-field-select .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #AAA9AA transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.ml-form-field-select .select-styled:focus {
    border: solid 1px #007abc;
    outline: 0;
}

.ml-form-field-select .select-styled:focus:after {
    border-color: #007abc transparent transparent transparent;
}

.ml-form-field-select .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 13px;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    border: solid 1px #007abc;
    border-top: 0px;
    list-style: none;
    background-color: #ffffff;
}

.ml-form-field-select .select-options li {
    margin: 0;
    padding: 12px 0;
    font-size: 13px;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6;
}

.ml-form-field-select .select-options li:hover {
    color: #ffffff;
    background: #007abc;
}

.ml-form-field-select .select-options li[rel="hide"] {
    display: none;
}

.ml-form-field-select .select-options li:first-child {
    border-top: 0;
}

.ml-form input:not(.form-control) ~ span,
input.ng-empty:not(.form-control) ~ span {
    transition: 0.3s ease;
    -webkit-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;
    font-size: 13px;
    width: 90%;
    color: #666;
}

.ml-form[data-forms="floating-label"] input.ng-empty:not(.form-control):focus ~ span,
input.ng-not-empty:not(.form-control) ~ span {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    font-weight: bold;
    font-size: 13px;
    visibility: visible;
    top: -5px;
    margin-top: 13px;
    width: auto;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
}

select.invalid-field,
input.invalid-field {
    border: 1px solid red !important;
}

.campaign-pages .container {
    position: relative;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .campaign-pages .container {
        margin: 0 auto;
        max-width: 960px;
    }
}

@media screen and (min-width: 1192px) {
    .campaign-pages .container {
        max-width: 1152px;
    }
}

header.main-header .logo {
    margin-left: 10px;
}

header.main-header .campaign-pages-login {
    text-align: right;
}

header.main-header .campaign-pages-login a {
    background: url(../images/login-icon.png) left 3px no-repeat;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    line-height: 23px;
}

.campaign-pages .campaign-pages-hero {
    width: 100%;
    display: block;
}

.campaign-pages .campaign-pages-hero img {
    max-width: none;
    width: 100%;
}

.campaign-pages .campaign-pages-main {
    padding: 55px;
}

.campaign-pages .campaign-pages-main h1 {
    font-size: 40px;
    font-family: "Georgia", serif;
    margin-bottom: 40px;
}

.campaign-pages .campaign-pages-main h2 {
    font-size: 20px;
}

.campaign-pages .campaign-pages-main p {
    line-height: 1.6;
}

.campaign-pages .campaign-pages-main a {
    color: #007abc;
    font-weight: bold;
}

.campaign-pages .campaign-pages-main a:hover {
    text-decoration: none;
}

.campaign-pages .campaign-pages-main a.pdf {
    background: url("../images/pdf-icon.png") left top no-repeat;
    padding-left: 30px;
}

.campaign-pages .campaign-pages-main a.cta {
    margin-top: 40px;
    display: block;
}

.campaign-pages .contact-form {
    padding: 20px;
    background-color: #F7F7F7;
}

.campaign-pages .contact-form a {
    color: #007abc;
}

.campaign-pages .contact-form .dropdown-menu .active a{
    color: white;
}

.campaign-pages .contact-form-quotes {
    border-bottom: solid 1px #333;
    padding: 20px;
    line-height: 1.4;
}

.login.campaign-pages .contact-form-quotes {
    border-bottom: none;
    padding: 20px 5px;
}

.campaign-pages .contact-form-quotes-callout {
    font-size: 18px;
}

.campaign-pages .contact-form-body .contact-form-title {
    font-size: 24px;
}

.campaign-pages .contact-form-body .contact-form-requiredtext {
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
}

.campaign-pages .contact-form-details {
    margin-top: 20px;
}

.campaign-pages .contact-form-details p {
    color: #5E5E5E;
    font-size: 12px;
}

.campaign-pages .contact-form-details a {
    font-weight: bold;
}

footer.main-footer {
    clear: both;
    margin-top: 10px;
}

footer.main-footer .colorbar .metlife-blue,
.campaign-pages footer .colorbar .metlife-blue {
    background-color: #007abc;
    height: 15px;
    padding: 0;
}

footer.main-footer .colorbar .metlife-dark-blue,
.campaign-pages footer .colorbar .metlife-dark-blue {
    background-color: #0061a0;
    height: 15px;
    padding: 0;
}

footer.main-footer .colorbar .metlife-green,
.campaign-pages footer .colorbar .metlife-green {
    background-color: #a4ce4e;
    height: 15px;
    padding: 0;
}

footer.main-footer .footer-legal,
.campaign-pages footer .footer-legal {
    position: relative;
    padding: 30px 10px 20px 10px;
    text-align: center;
}

footer.main-footer .footer-legal .footerlogo,
.campaign-pages footer .footer-legal .footerlogo {
    position: absolute;
    top: 15px;
    left: 15px;
}

footer.main-footer .footer-legal p,
.campaign-pages footer .footer-legal p {
    color: #8C8C8C;
    font-size: 12px;
}

footer.main-footer .footer-legal .footerlinks,
.campaign-pages footer .footer-legal .footerlinks {
    margin: 40px 0;
}

footer.main-footer .footer-legal .footerlinks a,
.campaign-pages footer .footer-legal .footerlinks a {
    margin: 0 40px;
    color: #007abc;
    font-weight: bold;
}

/*These are styles that will be moved to the metlife project to help demonstrate how to style elements but are not part of the pattern library*/

.dark-bg {
    background: #007abc;
    padding: 20px;
}

.margin-top {
    margin-top: 15px;
}

.align-right {
    text-align: right;
}


.column-form {
    float: left;
    width: 50%;
    padding: 0px;
}

.column_3-form {
    float: left;
    width: 33%;
    padding: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column-form,
    .column_3-form {
        width: 100%;
    }
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.ng-app .form-control,
.ng-app .btn {
    border-radius: 0;
    border: 1px solid #BBBBBB;
}

.payment-type .payment-methods {
    padding: 10px;
    padding-bottom: 0;
    background: #EFEFEF;
    margin-bottom: 10px;
    position: relative;
}

.payment-type .payment-methods:hover {
    background: #EFEFFF;
}

.payment-type .payment-methods .remove-payment {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    display: none;
    border: solid 2px red;
    border-radius: 2px;
}

.payment-type .payment-methods:hover .remove-payment {
    display: block;
}

.mainform .contact-form .contact-form-title {
    margin-left: 20px;
}

.loading-banner {
    font-size: 10em;
}

.additional-benefits{
    background: #D1D1D1;
}

.additional-benefits button{
    padding: 0 10px;
    margin: 0 20px;
    vertical-align: bottom;
}

.last-search-text{
    color: #a4ce4e;
    margin: -5px 0 20px 20px;
}

.last-search-text span{
    font-size: 20px;
    color: #333;
    margin-left: 10px;
}

.no-results{
    margin: 0 20px 20px;
    padding: 20px;
    background: white;
}

.simple-modal .modal-body{
    padding: 40px;
    text-align: center;
}

.loading-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background: rgba(255,255,255, 0.85);
    z-index: 2;
}

.additional-benefits-table{
    width: 100%;
    margin-bottom: 10px;
}

.main-pdf {
    text-align: center;
}

.main-pdf .pdf-save-content{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 40px;
    background: white;
    max-width: 980px;
}

.main-pdf .contact-form-title{
    font-size: 16px !important;
    color:#333 !important;
}

.main-pdf .ml-table-col-header{
    padding: 5px;
    font-size: 14px;
    background: #EFEFEF;
}
.main-pdf .ml-table-col-header label{
    font-size: 14px;
}

.main-pdf .additional-benefits{
    font-size: 14px;
    background: #EFEFEF;
}

.main-pdf .premium-total{
    background: #EFEFEF;
    color: black;
    text-shadow: none;
}

.main-pdf > .ml-button-secondary{
    margin-top: 10px;
    float: right;
    clear: both;
}
.benefit-options .col-md-4{
    position: relative;
}

.benefit-options button{
    border: 0;
     background: none;
    margin-top: 9px;
}

.benefit-options .ml-form-field button{
    position: absolute;
    right: 5px;
    top: 0;
    display: none;
}
.benefit-options .ml-form-field button:hover{
    color: #007abc;
}
.benefit-options .ml-form-field:hover button{
    display: block;
}

.html2canvas-container { width: 3000px !important; height: 3000px !important; }

/* -----------modal---------------- */
.modal-header h3{
    margin:0;
}

/* -----------animations-----------  */

/*
  We are using CSS transitions for when the enter and move events
  are triggered for the element that has the `repeated-item` class
*/

.repeated-item.ng-enter,
.repeated-item.ng-move {
    transition: all 0.5s linear;
    opacity: 0;
}

/*
  `.ng-enter-active` and `.ng-move-active` are where the transition destination
  properties are set so that the animation knows what to animate
*/

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity: 1;
}

/*
  We are using CSS keyframe animations for when the `leave` event
  is triggered for the element that has the `repeated-item` class
*/

.repeated-item.ng-leave {
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loader-container {
    height: 5em;
}

.loader,
.loader:before,
.loader:after {
    background: #007abc;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #a4ce4e;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
