<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/main.css}" href="main.css" />
    <link rel="stylesheet" th:href="@{/vendor.css}" href="vendor.css" />
</head>

<body onload="document.f.username.focus();">
    <div class="container">

        <div class="campaign-pages login">
            <div class="container">
                <header class="margin-bottom-20 margin-top-20">
                    <div class="columns is-mobile">
                        <div class="logoHeader column">
                            <a href="http://www.metlife.com" target="_blank" class="logo"><img src="images/metlife-logo.png" alt="Metlife Logo"></a>
                        </div>
                    </div>
                </header>
                <div class="loginBody columns is-gapless">
                    <div class="welcome">Welcome to MetLife POC</div>
                    <div class="column is-4">
                        <p th:if="${param.logout}" class="alert">You have been logged out</p>
                        <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
                        <form name="form" th:action="@{/login}" action="/login" method="POST" data-forms="floating-label" class="ml-form">
                            <div class="loginContainer contact-form">
                                <div class="loginMessage">Please Login</div>
                                <div class="contact-form-body">
                                    <form data-forms="floating-label" class="ml-form" method="post">
                                        <fieldset class="ml-form-field column">
                                            <label>
										<input type="text" name="username" value="" placeholder="Username" />
										<span>User Name</span>
									</label>
                                        </fieldset>
                                        <fieldset class="ml-form-field column">
                                            <label>
										<input type="password" name="password" placeholder="Password" />
										<span>Password</span>
									</label>
                                        </fieldset>
                                        <p><a href="">Forgot user name or Passsword?</a></p>

                                        <div class="loginButton">
                                            <input type="submit" id="login" value="Submit" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <footer>
                    <div class="colorbar columns">
                        <div class="metlife-blue column is-8 column"></div>
                        <div class="metlife-dark-blue is-3 column"></div>
                        <div class="metlife-green is-1 column"></div>
                    </div>
                    <div class="footerContainer">
                        <img src="images/metlife-footerlogo.png" class="footerlogo">
                        <div class="footerText">
                            <div class="footerLinks">
                                <a href="#">Privacy Policy</a>
                                <a href="#">Legal Notices</a>
                                <a href="#">Feedback</a>
                            </div>
                            <div class="footerCopyright" tabindex="0">
                                <p>©&nbsp;2018 Metropolitan Life Insurance Company, New York, NY 10166 - All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </div>
</body>

</html>
